*{
margin: 0;
font-family: Arial ;
font-weight: normal;
font-size: 16px;

}

.header{
 background-color: #162E58;
 color:white;
}

.header h2{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 10px;
}
.header h1{
    padding-top: 20px;
    padding-left: 40px;
 
}

.grupos {
    width: 60%;
    margin: 0 auto;

}

.grupos h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
table{
    width: 100%;
    font-size: 14px;
    text-align: center;
    
}

th {
    color: #70757a;
}

td {
    border-top: 1px solid rgb(240, 240, 240);
}
.img-club{
    width: 24px;
    height: 24px;
}
.left{
    text-align: left;
}
.bl-blue{
    border-left:3px solid #4285F4;
    
}
.bl-orange{
    border-left:3px solid #FA7B17;
}
.w200{
    width: 200px;
}
.gols h2{
    background-color: #162E58;
    color:white;
    padding: 15px;
    text-align: center;

}
.gols h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.img-jogador{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}